<tr>
  <th scope="row">1</th>
  <td><img src="Picture/1.jpg" with="50" heigh="10" alt="Hamburger"></td>
  <td>Hamburger</td>

  <td>80 </td>
  <td>20 </td>
  <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#Hamburger-1">
      Edit
    </button></td>
  <!-- Modal -->
  <div class="modal fade" id="Hamburger-1" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Hamburger Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-6">
              <label for="ex71">price</label>
              <input class="form-control" id="ex71" type="text">
            </div>
            <div class="col-xs-6">
              <label for="ex41">quantity</label>
              <input class="form-control" id="ex41" type="text">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>

        </div>
      </div>
    </div>
  </div>
  <td><button type="button" class="btn btn-danger">Delete</button></td>
</tr>

<tr>
  <th scope="row">2</th>
  <td><img src="Picture/2.jpg" with="10" heigh="10" alt="coffee"></td>
  <td>coffee</td>

  <td>50 </td>
  <td>20</td>
  <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#coffee-1">
      Edit
    </button></td>
  <!-- Modal -->
  <div class="modal fade" id="coffee-1" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Tea Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-6">
              <label for="ex72">price</label>
              <input class="form-control" id="ex72" type="text">
            </div>
            <div class="col-xs-6">
              <label for="ex42">quantity</label>
              <input class="form-control" id="ex42" type="text">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Edit</button>

        </div>
      </div>
    </div>
  </div>

  <td><button type="button" class="btn btn-danger">Delete</button></td>
</tr>